body {
	margin: 0;
	color: #444;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 50px;
	font-weight: lighter;
}

#quote-icon {
	width: 50px;
	float: left;
}

#twitter-icon {
	width: 50px;
}


.wrapper {
	max-width: 1000px;
	padding: 0 4%;
	margin: 0 auto;
	text-align: center;
}

.row {
	width: 100%;
	display: inline-block;
}

#quote {
	font-size: 22px;
	width: 90%;
	float: right;
}

#author {
	float: right;
	font-size: 18px;
	font-style: italic;
}

#refresh {
	margin-top: 20px;
	margin-bottom: 20px;
	display: none;
	width: 60px;
}

#twitter-icon, #refresh:hover {
	cursor: pointer;
}

.card {
	display: none;
	max-width: 600px;
	margin: 0 auto;
	text-align: left;
	padding: 16px 20px;
	color: #fff;
	border-radius: 4px;
	box-shadow: 6px 6px 20px #888888;
}


.turquois {
	background-color: #1abc9c;
}

.peter-river {
	background-color: #3498db;
}

.amethyst {
	background-color: #9b59b6;	
}

.pumpkin {
	background-color: #d35400;	
}

.orange {
	background-color: #f39c12;
}

.pomergranate {
	background-color: #c0392b;
}

.wet-asphalt {
	background-color: #34495e;
}

.asbestos {
	background-color: #7f8c8d;
}